<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <link rel="stylesheet" href="/pico.min.css"/>
        <script src="/htmx.min.js"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li><strong><a href="/">Khue Doan</a></strong></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {% block main %}
            {% endblock main %}
        </main>
    </body>
</html>
