{% extends "base.html" %}

{% block title %}Khue Doan{% endblock title %}

{% block main %}
    <h1>Contact</h1>
    <p>You can reach me via one of the following links:</p>
    <ul>
        <li><a target="_blank" href="mailto:mail@khuedoan.com">Email</a></li>
        <li><a target="_blank" href="https://github.com/khuedoan">GitHub</a></li>
        <li><a target="_blank" href="https://linkedin.com/in/khuedoan">LinkedIn</a></li>
        <li><a target="_blank" href="https://twitter.com/KhueDoanID">Twitter</a></li>
    </ul>
    <p>
        If you need to send sensitive information, you can encrypt the message
        using my <a target="_blank" href="/gpg">GPG public key</a>.
    </p>
{% endblock main %}
