{% extends "base.html" %}

{% block title %}Khue Doan{% endblock title %}

{% block main %}
    <h1>Hi there, I’m Khue 👋</h1>
    <p>
        Welcome to my website, where I write about Linux, DevOps, homelab, workflow optimization, and more!
    </p>
    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">
                    <a href="/posts/{{ post.id }}" class="contrast">
                        {{ post.title }}
                    </a>
                </th>
                <th scope="row">
                    {{ post.date }}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main %}
